h2{
    text-align: center;
    color: green;
}
.gallery:hover{
    box-shadow:0 0 20px 0px rgba(29, 244, 40, 0.2)
}

.clg{
   border: 5px solid rgb(181, 238, 11);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.clg:hover{
    background-color: black;
    transform: scale(1.3);
}
.gallery{
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
}
